.hospital {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 400px;
  padding: 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hospital_title {
  color: #506073;
  font-size: 20px;
  font-weight: 600;
}

.hospital_address {
  color: grey;
  font-weight: 600;
}
